body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: justify;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titulo{
    height: 8%;
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    
    
  
}

img{
    height: 80px;
    width: 80px;
    margin: 5PX;
    border-radius: 15px;
   
}

.menu{
    height:50px ;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

a{
  color: white;
  text-decoration: none;
}

h1{
    font-family: 'Bahiana', cursive;
    font-size: 50px;
}

.centro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.item{
 background-color:  rgb(175, 164, 164);
 height: 98%;
 width: 50%;
 border-radius: 15px;
 margin: 15px;
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 
 
}

.iteml{
    background-color:  rgb(175, 164, 164);
    height: 1055px;
    width: 50%;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
   }

h2{
    font-family: 'Bahiana', cursive;
}

h3{
    font-family: 'Bahiana', cursive;
}

h4{
    font-family: 'Bahiana', cursive;
}



.caixa{
    
    width: 97%;
    background-color: rgb(175, 164, 164);
    border-radius: 15px;
    margin: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#imagens{
    height: 300px;
    width: 90%;
}

#imagem{
    height: 500px;
    width: 90%;
}

#link{

background-color: gray;
color: black;
}

#letra{
    background-color: gray;
}
